@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.scrollLeftAnimation {
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}